name: Build
on:
  pull_request:
  push:
    branches: [ main, ci-test ]
    tags:
      - v*
#  schedule:
#    - cron: '35 10 10 * *'

permissions:
  contents: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      -
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      -
        name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      -
        name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          cache: true
          go-version-file: 'go.mod'
      -
        name: Job metadata
        run: |
          echo "event: ${{ github.event_name }}"
          echo "os: ${{ runner.os }}"
          echo "branch: ${{ github.ref }}"
          echo "repository: ${{ github.repository }}"
          echo "workspace dir: ${{ github.workspace }}"
          go version
      -
        name: go build
        run: go build ./...
      -
        name: go vet
        run: "go vet ./..."
      -
        name: go test
        run: "go test ./..."
      -
        name: Job status
        run: echo "status of this job:${{ job.status }}"

  checks:
    name: Static Checks
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
    -
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit
    -
      name: Checkout repo
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    -
      name: Setup Go
      id: setup_go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version-file: 'go.mod'
        cache: true
    -
      id: govulncheck
      name: govulncheck
      uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # v1.0.4
      with:
        go-version-input:
        go-version-file: 'go.mod'
        repo-checkout: false
        cache: false
    -
      name: Build
      run: go build ./...
      if: ${{ !cancelled() && steps.setup_go.conclusion == 'success' }}
    -
      name: staticcheck
      uses: dominikh/staticcheck-action@024238d2898c874f26d723e7d0ff4308c35589a2 # v1.4.0
      if: ${{ !cancelled() && steps.setup_go.conclusion == 'success' }}
      with:
        version: "2025.1.1"
        install-go: false
    -
      name: golangci-lint
      uses: golangci/golangci-lint-action@4afd733a84b1f43292c63897423277bb7f4313a9 # v8.0.0
      if: ${{ !cancelled() && steps.setup_go.conclusion == 'success' }}
      with:
        version: v2.1.6
        # skip-cache: true
        # Use a long invalidation interval, the go.mod hash is more likely to
        # change more frequently and force a cache invalidation anyway.
        cache-invalidation-interval: 60
