name: Build idle image
on:
  release:
    types: [ created ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: "${{ github.repository_owner }}/idle"

    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      -
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit
      -
        name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      -
        name: Basic metadata
        run: |
          echo Basic Metadata
          echo "event: ${{ github.event_name }}"
          echo "ref: ${{ github.ref }}"
          echo "ref name: ${{ github.ref_name }}"
          echo "repository: ${{ github.repository }}"
          echo "workspace dir: ${{ github.workspace }}"
          echo "image: ${REGISTRY}/${IMAGE_NAME}:${{ github.ref_name }}"
      -
        name: Image metadata
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=sha
            {{date 'YYYY.MM.DD-HHmm'}}
      -
        name: Log to container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Build and push image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: docker/idle
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
